#effects{
    padding: 75px;
    font-family:Skranji;
    font-size:18px;
}
#help{
    padding: 75px;
    font-family:Skranji;
    font-size:18px;
}
#what{
    padding: 75px
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url(img/image1.png);
    background-position: 0% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    color:White;
    font-family: Lobster; 
    font-size:48px;
}
.navbarAnchor{
    padding-top: 110px;
    margin-bottom: -80px;
}


#whatis{
    color:Green;
    font-family: Lobster;
    font-size:48px;
}

#contact{
    padding:30px;
    font-family: Lobster;
    font-size: 18px;
    padding-right:71px;
    padding-left:71px;
    padding-top: 70px
}

#Whatis{
    font-family: Lobster;
    font-size: 48px;
    color:green;
}

#Gal{
    font-family: Lobster;
    font-size: 48px;
}

#youcan{
    font-family: Lobster;
    font-size: 33px;
    color:green;
}

#img{
    padding-right:10px ;
     padding-left:10px ;
     padding-top:10px;
}

#wow{
    font-family:Skranji;
    font-size:18px;
}

.fontchange{
    font-family:Lobster ;
    font-size:16px ;
}





